.cover {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.inner {
  width: 500px;
<<<<<<< HEAD
<<<<<<< HEAD
  overflow-y: auto;
  max-height: calc(100vh - 100px);
=======
>>>>>>> 6ed0604ef485d98934f21dee45943d9d40fa5274
=======
  overflow-y: auto;
  max-height: calc(100vh - 100px);
>>>>>>> popup
  background-color: #fff;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  left: 50%;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> popup
  transition: all 0.3s ease-in-out;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  &::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
  }
<<<<<<< HEAD
=======
>>>>>>> 6ed0604ef485d98934f21dee45943d9d40fa5274
=======
>>>>>>> popup
  .popupHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
    h1 {
      font-size: calc($fontTitle - 2px);
      font-weight: 300;
    }
    .material-icons {
      font-size: 18px;
      color: #777;
    }
  }
  .popupBody {
    padding: 30px;
    .inputBox {
      display: flex;
      color: #666;
      flex-direction: column;
<<<<<<< HEAD
<<<<<<< HEAD
      font-size: $fontM;
=======
>>>>>>> 6ed0604ef485d98934f21dee45943d9d40fa5274
=======
      font-size: $fontM;
>>>>>>> popup
      &:not(&:last-child) {
        margin-bottom: 20px;
      }
      label {
        margin-bottom: 10px;
      }
      input[type='text'],
      select {
        padding: 12px;
        border-radius: 5px;
        border: 1px solid rgba(170, 170, 170, 0.3);
<<<<<<< HEAD
<<<<<<< HEAD
        &:focus:not(.address) {
=======
        &:focus {
>>>>>>> 6ed0604ef485d98934f21dee45943d9d40fa5274
=======
        &:focus:not(.address) {
>>>>>>> popup
          border-color: #80bdff;
        }
      }
      .radioBox {
        font-size: $fontL;
        &:not(&:last-child) {
          margin-bottom: 5px;
        }
        input[type='radio'] {
          vertical-align: middle;
          appearance: none;
          background-color: #ddd;
          width: 17px;
          height: 17px;
          margin: 0;
          margin-right: 10px;
          border-radius: 100px;
          &:checked {
            border: 5px solid #333;
            background-color: #fff;
          }
        }
      }
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> popup
      .fileBox {
        width: 100%;
        label {
          display: flex;
          width: 100%;
          border-radius: 5px;
          border: 1px solid rgba(170, 170, 170, 0.3);
          align-items: center;
          justify-content: space-between;
          height: 41px;
          background-color: transparent;
          .fileName {
            padding-left: 10px;
            font-size: 12px;
          }
          .btn {
            height: 41px;
            display: inline-block;
            font-size: 13px;
            line-height: 41px;
            padding: 0 10px;
            border-radius: 0 5px 5px 0;
            background-color: #dedede;
            border-left: 1px solid #ced4da;
          }
        }
        input[type='file'] {
          position: absolute;
          z-index: 2;
          width: 0;
          height: 0;
          padding: 0;
          border: none;
        }
      }
      .address {
        margin-bottom: 10px;
        background-color: #e9ecef;
      }
      .addressBtn {
        width: 100%;
        border: 1px solid #222;
        padding: 7px 0;
        font-size: $fontM - 1;
        &:active {
          border: none;
        }
      }
      .checkBox {
        display: flex;
        flex-direction: column;
        input[type='checkbox'] {
          margin-top: 10px;
        }
      }
<<<<<<< HEAD
=======
>>>>>>> 6ed0604ef485d98934f21dee45943d9d40fa5274
=======
>>>>>>> popup
    }
  }
  .popupFooter {
    padding: 20px;
    text-align: end;
    border-top: 1px solid #e9ecef;
    button {
      background-color: #000;
      color: #fff;
      padding: 7px;
      font-size: 15px;
      border-radius: 2px;
    }
  }
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> popup
@keyframes coverAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
<<<<<<< HEAD
=======
>>>>>>> 6ed0604ef485d98934f21dee45943d9d40fa5274
=======
>>>>>>> popup
