.tableBox {
  margin: 20px 0;
  text-align: center;
  .tHead {
    width: 100%;
    display: flex;
    background-color: #444444;
    color: #fff;
    padding: 10px 0;
    font-size: 13px;
    > li:not(.w10) {
      flex-grow: 1;
    }
    li {
      cursor: pointer;
      position: relative;
      &::before {
        content: '\e5c7';
        font-family: 'Material Icons';
        position: absolute;
        right: 10px;
        top: -5px;
      }
      &:after {
        content: '\e5c5';
        font-family: 'Material Icons';
        position: absolute;
        right: 10px;
        bottom: -5px;
      }
      &.up {
        &::before {
          opacity: 1;
        }
        &::after {
          opacity: 0;
        }
      }
      &.down {
        &::before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
    }
  }
  .tbody {
    .td {
      display: flex;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
      font-size: 13px;
      align-items: center;
      > li:not(.w10) {
        flex-grow: 1;
      }
      li {
        button {
          background-color: #444444;
          color: #fff;
          padding: 2px 3px;
          font-size: 12px;
        }
      }
    }
    .empty {
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
      font-size: 13px;
    }
  }
}
/* 테이블 width */
.w10 {
  width: 10%;
}
